[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
[submodule "notebooks/gpu/BronchoTrack"]
	path = notebooks/gpu/BronchoTrack
	url = https://github.com/BCJuan/BronchoTrack.git
